In [10]:
# imports
import pandas as pd

In [4]:
# read in the data
df = pd.read_excel("/Users/emilydutile/repositories/info-viz/hw4/property_assesment.xlsx")
df.head()

,_id,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,ST_NAME_SUF,UNIT_NUM,ZIPCODE,PTYPE,...,U_BTH_STYLE2,U_BTH_STYLE3,U_KITCH_TYPE,U_KITCH_STYLE,U_HEAT_TYP,U_AC,U_FPLACE,U_INT_FIN,U_INT_CND,U_VIEW
0,1,0100001000_,NaN,0100001000_,104 A 104,PUTNAM,ST,NaN,02128_,105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0100002000_,NaN,0100002000_,197,LEXINGTON,ST,NaN,02128_,105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,0100003000_,NaN,0100003000_,199,LEXINGTON,ST,NaN,02128_,105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0100004000_,NaN,0100004000_,201,LEXINGTON,ST,NaN,02128_,105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0100005000_,NaN,0100005000_,203,LEXINGTON,ST,NaN,02128_,104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.describe()

,_id,PTYPE,AV_LAND,AV_BLDG,AV_TOTAL,GROSS_TAX,LAND_SF,YR_BUILT,YR_REMOD,GROSS_AREA,...,S_UNIT_RES,S_UNIT_COM,S_UNIT_RC,U_BASE_FLOOR,U_NUM_PARK,U_TOT_RMS,U_BDRMS,U_FULL_BTH,U_HALF_BTH,U_FPLACE
count,500.000000,500.00000,5.000000e+02,5.000000e+02,5.000000e+02,5.000000e+02,493.000000,489.000000,433.000000,4.940000e+02,...,20.000000,20.0,20.0,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000
mean,250.500000,200.39800,4.975991e+05,1.059858e+06,1.557457e+06,4.819454e+05,3250.468560,1840.952965,1321.478060,7.093704e+03,...,6.300000,0.0,0.0,2.061069,0.076336,3.580153,1.465649,1.053435,0.068702,0.290076
std,144.481833,261.54048,5.291472e+06,1.061699e+07,1.589434e+07,5.401253e+05,22715.791088,361.402351,943.683075,5.682859e+04,...,5.611079,0.0,0.0,1.345967,0.319093,1.122869,0.693904,0.225763,0.253918,0.533328
min,1.000000,13.00000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,260.000000,0.000000,0.000000,0.000000e+00,...,2.000000,0.0,0.0,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
25%,125.750000,102.00000,0.000000e+00,2.120500e+05,2.847750e+05,2.725072e+05,1088.000000,1899.000000,0.000000,7.657500e+02,...,3.000000,0.0,0.0,1.000000,0.000000,3.000000,1.000000,1.000000,0.000000,0.000000
50%,250.500000,105.00000,1.219000e+05,3.013500e+05,4.214000e+05,4.396965e+05,1799.000000,1900.000000,1985.000000,2.938500e+03,...,4.500000,0.0,0.0,2.000000,0.000000,4.000000,1.000000,1.000000,0.000000,0.000000
75%,375.250000,105.00000,1.565250e+05,4.033250e+05,5.180095e+05,5.403805e+05,2500.000000,1910.000000,1999.000000,4.452000e+03,...,6.750000,0.0,0.0,3.000000,0.000000,4.000000,2.000000,1.000000,0.000000,0.500000
max,500.000000,995.00000,1.162948e+08,2.346967e+08,3.509915e+08,6.204386e+06,502965.000000,2015.000000,2016.000000,1.232512e+06,...,27.000000,0.0,0.0,5.000000,2.000000,6.000000,3.000000,2.000000,1.000000,2.000000

In [9]:
#df.boxplot(by='PTYPE')

/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:57: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  return getattr(obj, method)(*args, **kwds)

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x10e059128>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10e0a4fd0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10e0e6240>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10e10ef60>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10e147d30>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x10e147d68>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10861ff60>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x1084640f0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10852bcc0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x1085e10f0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x108503cc0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10854e3c8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x1084f7160>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10855a240>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x1085098d0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x10e257fd0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10e28ed30>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10e2c0a90>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10e2df0b8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10e31ae10>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x10e351be0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10e371198>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10e3c6710>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10e397ba8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10e429d30>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x10e465a90>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10e4a0780>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10e4b6908>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10e504b70>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x10e53cbe0>]], dtype=object)